<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.snggle.mobile">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
            android:label="Snggle"
            android:name="${applicationName}"
            android:icon="@mipmap/ic_launcher"
            android:allowBackup="false">

        <service
                android:name=".MyAutofillService"
                android:permission="android.permission.BIND_AUTOFILL_SERVICE"
                android:exported="true">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>

            <meta-data
                    android:name="android.autofill"
                    android:resource="@xml/autofill_service" />
        </service>

        <service
                android:name=".MyAccessibilityService"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
                android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/accessibility_service_config" />
        </service>

        <activity
                android:name=".AutofillAuthActivity"
                android:exported="false"
                android:theme="@style/LaunchTheme"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
                android:hardwareAccelerated="true"
                android:windowSoftInputMode="adjustResize" />

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:theme="@style/LaunchTheme"
                android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
                android:hardwareAccelerated="true"
                android:windowSoftInputMode="adjustResize">

            <meta-data
                    android:name="io.flutter.embedding.android.NormalTheme"
                    android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
                android:name="flutterEmbedding"
                android:value="2" />

    </application>
</manifest>